<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <%
            var title = '';
            if (page.category) title = page.category;
            if (page.tag) title = page.tag;
            if (page.archive) {
                if (page.year) title = page.year + (page.month ? '/' + page.month : '');
                else title = __('archive_a');
            }
            %>
            <h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>">
                <%= title %>
            </h2>
            <% if (type == 'tags'){ %>
                <%- partial('tags') %>
            <% } else { %>
                <% var this_year; %>
                <article class="archive">
                    <% site.posts.each(function(item){ %>
                        <% var year = item.date.year(); %>
                        <% if (this_year != year || !this_year){ %>
                            <% if(this_year){ %>
                        </div></ul>
                        <% } %>
                        <div class="archive-time">
                            <span id="<%= year %>" class="archive-year fa fa-calendar-times-o listing-seperator">
                                <%= year %></span>
                        <ul>
                    <% this_year = year; } %>
                    <li>
                        <time datetime="<%= item.date.toDate().toISOString() %>">
                            <%= item.date.format("MM-DD") %>
                        </time>
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="<%- config.root %><%- item.path %>">
                            <%= item.title %></a>
                    </li>
                    <% }); %>
                </article>
            <% } %>
        </div>
    </div>
</div>
