<! -- 添加版权信息 -->
<div class="article-footer-copyright">
  <div><b>本文标题: </b><a href="<%- config.root %><%- page.path %>" target="_blank" title="<%= page.title %>"><%= page.title %></a></div>
  <div><b>本文链接: </b><a href="<%- config.root %><%- page.path %>" target="_blank" title="<%= page.title %>"><%- config.url %>/<%- page.path %></a>.</div>
  <div>本文由<a href="<%= config.root %>index.html" target="_blank" title="<%= config.author %>"><%= config.author %></a>创作和发表,采用<b>BY</b>-<b>NC</b>-<b>SA</b>国际许可协议进行许可,转载请注明作者及出处。</div>
</div>
