<% if(config['duoshuo_share'] && config['duoshuo_username']) { %>
    <!-- 多说 Share start -->
    </style>
    <div class="ds-share"
        style="text-align: right"
        data-thread-key="<%= page.path %>"
        data-title="<%= page.title %>"
        data-url="<%= page.permalink %>"
        data-images="<%= config.url %><%= config.root %><%= page["header-img"] || config["header-img"] %>"
        data-content="<%- truncate(strip_html(page.content), {length: 50, omission: '...'}) %> | <%= config.SEOTitle %> " >
        <div class="ds-share-inline">
            <ul  class="ds-share-icons-16">
            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
            <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
            <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
            <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
            </ul>
            <div class="ds-share-icons-more">
            </div>
        </div>
    <hr>
    </div>
    <!-- 多说 Share end-->
<% } %>