---
layout: page
---
<style type="text/css">
    header.intro-header{
        background-position: right; 
    }
</style>
<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
</div>

<% if(config['duoshuo_username']) { %>

<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
        data-thread-key="<%= page.path %>"
        data-title="<%= page.title %>"
        data-url="<%= page.permalink %>" >
    </div>
</div>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User by Hux
    var _user = '<%= config["duoshuo_username"] %>';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>

<!-- 多说公共JS代码 end -->
<% } %>

<!-- Disqus Comment -->
<% include ./_third-party/comments/disqus/disqus.ejs %>

<!-- Git Comment -->
<% include ./_third-party/comments/gitment/gitment.ejs %>

