---
layout: page
---
<!-- Main Content -->

<% page.posts.each(function(post){ %>
<div class="post-preview">

    <a href="<%- config.root %><%- post.path %>">
        <h2 class="post-title">
            <%- post.title || "Untitled" %>
        </h2>
        <h3 class="post-subtitle">
            <%- post.subtitle || "" %>
        </h3>
        <div class="post-content-preview">
            <%- truncate(strip_html(post.content), {length: 200, omission: '...'}) %>...
        </div>
    </a>

    <% if (config.home_posts_tag || config.home_posts_category && post.categories && post.categories.length){%>
        <p class="post-meta" style="margin: 10px 0;">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
        </p>
    <%} else {%>
        <p class="post-meta">
            Posted by <%- post.author || config.author %> on
            <%= post.date.format(config.date_format) %>
        </p>
    <%}%>

    <% if (config.home_posts_tag){%>
        <div class="tags">
            <% post.tags.forEach(function(tag){ %>
              <a href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
            <% }) %>
        </div>
    <%}%>

    <!-- added by Yuankun Li -->
    <% if (config.home_posts_category && post.categories && post.categories.length){%>
        <div class="post-category">
            <%- list_categories(post.categories, {
            show_count: false,
            class: 'category-list',
            style: 'none',
            separator: '►',
            depth: 2
            }) %>
        </div>
    <%}%>

    <!-- Share -->
    <% if (config.needmoreshare2.enable && config.needmoreshare2.postbottom.postEnable) {%>
        <span id="needsharebutton-postbottom" class="post-share">
            <span class="btn">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </span>
        </span>
    <%}%>

</div>
<hr>
<% }); %>


<!-- Pager -->

<ul class="pager">
    <% if (page.prev){ %>
        <li class="previous">
            <a href="<%- config.root %><%- page.prev_link %>">&larr; Newer Posts</a>
        </li>
    <% } %>
    <% if (page.next){ %>
        <li class="next">
            <a href="<%- config.root %><%- page.next_link %>">Older Posts &rarr;</a>
        </li>
    <% } %>
</ul>

