<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<!-- hack iOS CSS :active style -->
<body ontouchstart="">
	<%- partial('_partial/header',{cache: true}) %>
	
    <%- partial('_partial/nav',{cache: true}) %>

    <!-- Main Content -->
    <%- body %>

    <!-- Footer -->
    <%- partial('_partial/footer') %>

    <!-- Fork me on GitHub -->
    <% if (config["forkme"]) {%>
        <a href="<%= config['forkme-url']%>"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_white_ffffff.png" alt="Fork me on GitHub"></a>
    <%}%>
    
    <!-- Share -->
    <% include ./_third-party/needsharebutton.ejs %>

    <!-- Git Comment -->
    <% include ./_third-party/comments/gitment/gitmentBase.ejs %>

    <!-- Disqus Comment -->
    <% include ./_third-party/comments/disqus/disqusBase.ejs %>
    
    <!-- Duoshuo Comment -->
    <% include ./_third-party/comments/duoshuo/duoshuoBase.ejs %>

    <!-- Share float -->
    <% if (theme.needmoreshare2.enable && theme.needmoreshare2.float.enable) {%>
    <div id="needsharebutton-float">
      <span class="btn">
        <i class="fa fa-share-alt fa-inverse" aria-hidden="true"></i>
      </span>
    </div>
    <%}%>

	<a id="rocket" href="#top" class=""></a>
	<script type="text/javascript" src="/js/totop.js?v=1.0.0" async=""></script>
    <script type="text/javascript" src="/js/toc.js?v=1.0.0" async=""></script>

    <!-- Fancybox -->
    <% if (theme.fancybox){ %>
        <%- css('/lib/fancybox/jquery.fancybox') %>
        <%- js('/lib/fancybox/jquery.fancybox.pack') %>
        <%- js('/js/wrapImage.js') %>
    <% } %>
    <!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
