---
layout: layout
---
<!-- Main Content -->
<div class="container">
    <div class="row">
        <% if(config.sidebar == false) { %>
<!-- SIDEBAR Below -->
    <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container">
                <%- page.content || body %>
            </div>
    <!-- Sidebar Container Below -->
            <%- partial('_partial/sidebarBelow') %>
        <%} else { %>

<!-- USE SIDEBAR Aside-->
    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                post-container
            ">
            
                <%- page.content || body %>

                <!-- 如果开启评论功能 -->
                <% if(page.comments) { %>
                    <hr>

                    <% if(config['duoshuo_username']) { %>
                    <!-- 多说评论框 start -->
                    <div class="comment">
                        <div class="ds-thread"
                            data-thread-key="<%= page.path %>"
                            data-title="<%= page.title %>"
                            data-url="<%= page.permalink %>" >
                        </div>
                    </div>
                    <!-- 多说评论框 end -->
                    <% } %>

                    <!-- disqus comment -->
                    <% if(config['disqus_username']) { %>
                        <div class="disqus_comment">
                            <div id="disqus_thread" class="disqus-thread"></div>
                        </div>
                    <% } %>

                    <% if(config['duoshuo_username']) { %>
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        // dynamic User by Hux
                        var _user = '<%= config["duoshuo_username"] %>';

                        // duoshuo comment query.
                        var duoshuoQuery = {short_name: _user };
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                    <% } %>

                    <% include ./_third-party/comments/disqus.ejs %>

                <% } %>
            </div>

          <%- partial('_partial/sidebar') %>

        <%} %>
    </div>
</div>
