---
layout: layout
---
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <%- page.content %>

                <%- partial('_partial/post/donate') %>

                <%- partial('_partial/post/copyright') %>
                
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <% if (page.prev){ %>
                        <li class="previous">
                            <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.prev.title %>">&larr; Previous Post</a>
                        </li>
                    <% } %>
                    <% if (page.next){ %>
                        <li class="next">
                            <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top" title="<%- page.next.title %>">Next Post &rarr;</a>
                        </li>
                    <% } %>
                </ul>

                <!-- Duoshuo Comment Share -->
                <% include ./_third-party/comments/duoshuo/duoshuoShare.ejs %>

                <!-- Duoshuo Comment -->
                <% include ./_third-party/comments/duoshuo/duoshuo.ejs %>

                <!-- Disqus Comment -->
                <% include ./_third-party/comments/disqus/disqus.ejs %>

                <!-- Git Comment -->
                <% include ./_third-party/comments/gitment/gitment.ejs %>
            </div>
            
            <!-- Tabe of Content -->
            <%- partial('_partial/toc') %>
                
            <!-- Sidebar Container Below-->
            <%- partial('_partial/sidebarBelow') %>
        </div>
    </div>
</article>

<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("https://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options = {
          visible: 'hover',
          placement: 'left',
          icon: 'ℒ'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link{
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top : -0.1em;
        }
    }
</style>
<% } %>
